
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Ropa+Sans&display=swap');

.cart-menu {
    position: relative;
  }
  
  .cart-wrapper {
    position: relative;
  }
  
  .image-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2F2926;
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:75%;
    top:-6rem;
  }
  
  .image-cart-small {
    background-color: #E5674E;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.0rem;
    right:0.5rem;
  }
  
  .product-counter {
    color: white;
    font-family: "PT Serif", serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
  }
  
  .pic-cart {
    width: 20px;
    height: 25px;
  }

  .cart-item {
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  }
  
  .cart-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    font-family: "PT Serif", serif;
    -webkit-box-shadow: 5px 5px 9px 500px rgba(0,0,0,0.45), 5px 5px 9px 500px rgba(0,0,0,0.45); 
    box-shadow: 5px 5px 9px 500px rgba(0,0,0,0.45), 5px 5px 9px 500px rgba(0,0,0,0.45);
  }

  .header-cart-box {
    display: grid;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #2F2926;
}

  .order-cartbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    height: 100%;
  }

  .total-cart-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
  }

  .total-cart-price {
    display: grid;
    align-content: flex-end;
  }

  .cart-upp-ner {
    width: 2rem;
    display: grid;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
  }

  .header-kaffe {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #2F2926;
    margin-top: 0.5rem;
  }

  .pris-kaffes {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }

  .moms-cart {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .total-cart {
    font-family: "PT Serif", serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
  }

  .total-cart-price {
    font-family: "PT Serif", serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
}

.cart-button{
  background-color: #2F2926;
  color: white;
  border-style: none;
  width: 15rem;
  height: 3rem;
  border-radius: 50px;
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 2rem;
}

.button-cart-box {
  display: grid;
  justify-content: center;
  width: 100%;
}