h1 {
  margin: 0;
}

p {
  margin: 0;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
} 


.picture {
  background-image: url(../logos/header1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #38846D;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../logos/header2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  
}

.img {
width: 38px;
height: 35px;
}

.img-box-landing {
  background-color: black;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF1A;

}

.header-landing {
font-family: Rufina;
font-size: 42px;
font-weight: 700;
line-height: 52px;
color: white;
}

.text-landing {
  font-family: Work Sans;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0.3em;
  text-align: center;
  color: white;
}