@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Ropa+Sans&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.wrapper-menu {
  height: 100%;
  width: 100%;
  background-color: #f3e4e1;
  background-image: url("../logos/header3.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 7rem;
}


main {
background-image: url("../logos/header4.png");
background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 5rem;
}

.header-product {
  padding-top: 0.5rem;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5.5rem;
  margin-right: 32px;
  margin-left: 20px;
}

.header-kaffe {
  font-family: "PT Serif", serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #2f2926;
}

.text-kaffe {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.pris-kaffe {
  font-family: "PT Serif", serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  justify-content: flex-end;
  display: flex;
  width: 25%;
  
}

.open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2926;
}